body {
    background: #e1e1ea;
    font-family: 'Roboto';
    margin: auto;
    box-sizing: border-box;
    padding: 10px;
  }
  /**Left side CSS**/
  .left-box{
    float: left;
    box-shadow: 10px 10px 5px grey;
    background-color: #49ced3e3;
    height: 961px;
    width: 300px;
    box-sizing: border-box;
    margin: 15px ;
  }
  
  /**Left side content CSS**/
  .top-left{
    position: relative;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    box-sizing: border-box;
    height: 40%;
    margin: 0px;
      }
  
  .name {
      position: absolute;
      font-size: 40px;
      color: white;
      bottom: 0px;
      left: 1px;
      right: 1px;
      box-sizing: border-box;
      background-color:#49ced3e3;

    }
  
  img { 
      width: 100%;
      height: 100%;
      box-sizing: border-box;
  }
  

  .objective {
     border-style: solid;
     border-width: 0px 0px 2px 0px ;
     margin: 15px;
     padding: 10px;
     box-sizing: border-box;
     
  }
  
  .objective-img{
    float: left;
    border: solid;
    border-width: 3px;
    box-sizing: border-box;
    width: 30px;
    height: auto;
    
  }
  
  .objective-text{
    /* display: inline-block; */
    text-align: left;
    color: white;
    box-sizing: border-box;
    margin-left: 40px;
    margin-top: 0px;
    text-size-adjust: 50px;    
    font-size: 20px;
    }
  
  .phone{
     border-style: solid;
     border-width: 0px 0px 2px 0px;
     box-sizing: border-box;
     margin: 15px;
     padding: 10px;
  }
   

  .phone-text {
    display: inline-block;
    text-align: left;
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
    margin-left: 10px;
    box-sizing: border-box;
  }
  
  .email{
     border-style: solid;
     border-width: 0px 0px 0px 0px;
     box-sizing: border-box;
     margin: 15px;
     padding: 10px;
  }
  
  .email-text {
    display: inline-block;
    text-align: left;
    font-size: 20px;
    color: white;
    margin: 15px 15px 15px 15px;
    box-sizing: border-box;
  }
  /**work experience box**/
  .work-experience {
    float: left;
    box-shadow: 10px 10px 5px grey;
    background-color: white;
    height: 300px;
    width: 850px;
    margin: 15px 15px 15px 15px;
    box-sizing: border-box;
  }
  
  .work-img {
    float: left;
    height: auto;
    width: 50px;
    margin: 25px 30px 100% 30px;
    box-sizing: border-box;
  }
  
  .job-box{
    float: left;
    border: solid;
    
    border-width: 0px 0px 3px 0px;
    box-sizing: border-box;
    margin: 0px 10px 0px 0px;
    padding: 10px 10px 10px 10px;
    width: 200px;
    height: auto;
  }
  
  .job-box:hover {
    background-color: gray;
  }
  
  .job-title {
    font-weight: bold;
    line-height: 1.5;
    box-sizing: border-box;
  }
  
  .job-date{
    color:red;
    line-height: 1.5;
    box-sizing: border-box;
  }
  
  
  .job-description{
    line-height: 1.9;
    box-sizing: border-box;
  }
  
  /**Education box**/
  .education {
    float: left;
    box-shadow: 10px 10px 5px grey;
    background-color: yellow;
    box-sizing: border-box;
    height: 300px;
    width: 410px;
    margin: 15px 15px 15px 15px;
    font-size: 20px;
  }
  
  /**interest box**/
  .interest {
    float: left;
    box-shadow: 10px 10px 5px grey;
    background-color:yellow;
    box-sizing: border-box;
    height: 300px;
    width: 410px;
    margin: 15px 15px 15px 15px;
    font-size: 20px ;
    }
  
  /**Skills box**/
  .skills {
    float: left;
    box-shadow: 10px 10px 5px grey;
    background-color:yellow;
    box-sizing: border-box;
    height: 300px;
    width: 410px;
    margin: 15px 15px 15px 15px;
    font-size: 20px ;    
    }
  
    
  
  ul {
    list-style: disc;
    margin: 10px 20px 20px 45px;
  }
 
  li.l1 {
    border: solid;
    border-width: 0px;
    background-color:white;
    margin: 10px 90px 10px 0px;
  }